@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:  URL(../fonts/ptsans-400.woff2) format("woff2"),
        URL(../fonts/ptsans-400.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:  URL(../fonts/ptsans-700.woff2) format("woff2"),
        URL(../fonts/ptsans-700.woff) format("woff");
  font-display: swap;
}

:root {
  --color-dark-primary: #000000;
  --color-dark-secondary: #333333;
  --color-dark-translusent: #0000004D;
  --color-light: #FFFFFF;
  --color-light-gray: #FFFFFF4D;
  --color-dark-gray: #5e676c;
  --color-error: #FF5757;
  --color-primary: #756157;
  --color-primary-hover: #615048;
  --color-primary-active: #7561574D;
  --color-selected: #7DB54F;
  --color-selected-hover: #6C9E42;
  --color-secondary: #82B3D3;
  --color-secondary-hover: #68A2CA;
  --color-secondary-active: #68A2CA4D;
  --color-secondary-light: #83B3D31F;
  --color-secondary-middle: #83B3D333;
  --color-inputs: #3F5E72;
  --color-gray: #F2F2F2;
  --color-modal-block: #F2F2F2CC;
  --color-elements: #E5E5E5;
  --color-box-shadow: #00000033;
  --color-box-border: #E6E6E6;
  --color-gray-secondary: #AAAAAA;
  --color-shadow-modal: #00000026;

  --border-radius: 4px;

  --font-family: "PT Sans", sans-serif;
}

/* Нормализация блочной модели */
*,
::before,
::after {
  box-sizing: border-box;
}

/* Убираем отступ слева и дефолтный маркер у списков */
:where(ul, ol) {
  padding-left: 0;
  list-style-type: none;
}

/* Убираем подчеркивание и дефолтный цвет у ссылок */
:where([class*="link"]) {
  text-decoration: none;
  color: var(--color-dark-primary);
}

/* Убираем внешние отступы у элементов c атрибутом class*/
:where(
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol) {
  margin-block: 0;
}

html {
  height: 100%;
  background-color: var(--color-gray);
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--color-dark-secondary);
  background-color: var(--color-light);
  box-shadow: 0 0 15px 0 var(--color-box-shadow);
}

/* Базовая стилизация основных кнопок*/
.button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  color: var(--color-light);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.button_size_small {
  font-size: 16px;
  line-height: 20px;
}

.button_size_large {
  font-size: 20px;
  line-height: 36px;
}

.button_color_primary {
  background-color: var(--color-primary);
}

.button_color_secondary {
  background-color: var(--color-secondary);
}

/* Стилизация навигации */
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 28px;
  padding: 0 70px;
}


.navigation__link-logo {
  z-index: 1;
  max-height: 64px;
  align-self: flex-start;
}

.navigation__link-logo:hover {
  opacity: 80%;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 470px;
}

.navigation__list_user {
  justify-content: flex-end;
  margin-left: auto;
  max-width: 450px;
}

.navigation__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  margin: 0 16px;
  padding: 20px 0;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-dark-primary);
}

.navigation__item:hover .navigation__link {
  color: var(--color-primary-hover);
}

.navigation__link_user{
  min-width: 44px;
  min-height: 64px;
  margin: 0;
}

.icon{
  fill: var(--color-dark-primary);
}

/* Стилизация для элемента навигации, обозначающего текущую страницу */
.navigation__link_current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: calc(100% + 1px);
  height: 2px;
  background-color: var(--color-primary);
  content:"";
}

.navigation__item:hover .navigation__link_current {
  color: var(--color-dark-primary);
}

/* Стилизация счетчика избранных отелей*/
.selected-counter {
  position: absolute;
  top: 11px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  min-height: 20px;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color:var(--color-light);
  background-color: var(--color-selected);
  border-radius: 50%;
}

/* Стилизация кнопки хочу сюда*/
.button_whant-to {
  width: 160px;
  min-height: 36px;
  margin-left: 20px;
}

.button_whant-to:hover,
.button_whant-to:focus {
  outline: transparent;
  background-color: var(--color-primary-hover);
}

.button_whant-to:active {
  color: var(--color-light-gray);
}

.button_whant-to:disabled,
.button_whant-to:disabled:hover {
  background-color: var(--color-elements);
  user-select: none;
  pointer-events: none;
}

.navigation__link_user:hover .icon {
  fill: var(--color-primary-hover);
}

/* Основной блок страницы */
.welcome {
  min-height: 485px;
  padding: 30px;
  padding-top: 51px;
  background-color: var(--color-secondary);
  background-image:  url("../images/divider.svg"),
                     url("../images/index-background.jpg");
  background-position: center bottom, center;
  background-size: 100% ,contain;
  background-repeat: no-repeat;
}

.about,
.reasons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 69px 200px 90px;
}

.title_large {
  margin-bottom: 25px;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-dark-primary);
  text-transform: uppercase;
}

.description_large {
  font-family: var(--font-family);
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.reasons {
  padding: 64px 0;
}

.reasons__title {
  margin-bottom: 20px;
}

/* Стилизация преимуществ */
.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.advantages__item,
.advantages__item_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 385px;
  padding: 112px 85px;
}

.advantages__item_wrapper {
  padding: 102px 85px;
}

.advantages__item_image {
  flex-direction: row;
  min-width: 1200px;
  padding: 0;
  color: var(--color-light);
}

.light-color {
  background-color: var(--color-secondary-light);
}

.middle-color {
  background-color: var(--color-secondary-middle);
}

.heavy-color {
  background-color: var(--color-secondary);
}

.advantages__photo {
  object-fit: cover;
}

.advantages__title {
  width: 175px;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: var(--color-dark-primary);
  text-transform: uppercase;
}

.advantages__description {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
}

.advantages__title_color_secondary {
  color: var(--color-light);
}

.advantages__title::after {
  display: block;
  width: 60px;
  margin: 29px auto;
  border-bottom: 2px solid var(--color-dark-translusent);
  content: "";
}

.advantages__title_color_secondary::after {
  border-bottom: 2px solid var(--color-light-gray);
}

/* Стилизация рекомендаций */
.recomendation__list {
  display: flex;
  flex-wrap: wrap;
 }

.recomedation__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 385px;
  padding: 79px 85px;
}

.recomedation__icon_house {
  width: 76px;
  min-height: 72px;
  margin-top: 2px;
  margin-bottom: 31px;
  background-image: url("../images/icons/house.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}

.recomedation__icon_food {
  width: 75px;
  min-height: 70px;
  margin-top: 3px;
  margin-bottom: 32px;
  background-image: url("../images/icons/food.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.recomedation__icon_gifts {
  width: 65px;
  min-height: 76px;
  margin-bottom: 29px;
  background-image: url("../images/icons/gifts.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.recomedation__title {
  margin-bottom: 30px;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--color-dark-primary);
  text-transform: uppercase;
}

.recomedation__description {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
}

/* Стилизация поиска гостинницы */
.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 406px;
  padding: 96px 304px;
}

.search__title {
  margin-bottom: 20px;
}

.search__description {
  margin-bottom: 52px;
}

/* Стилизация кнопки поиска */
.button_search-room {
  width: 376px;
  min-height: 52px;
}

.button_search-room:hover,
.button_search-room:focus {
  background-color: var(--color-primary-hover);
}

@supports selector(:focus-visible) {

  .button_search-room:focus {
    outline: transparent;
  }

  .button_search-room:focus-visible {
    background-color: var(--color-primary-hover);
  }
}

.button_search-room:active {
  color: var(--color-light-gray);
}

.button_search-room:disabled,
.button_search-room:disabled:hover {
  background-color: var(--color-elements);
  user-select: none;
  pointer-events: none;
}

/* Стилизация подписки */
.subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 96px 258px 104px 258px;
  background-color: var(--color-gray-secondary);
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe__wrapper {
  margin-bottom: 54px;
}

.subscribe__title {
  margin-bottom: 21px;
  color: var(--color-light);
}

.subscribe__description {
  color: var(--color-light);
}

.subscribe__form {
  display: flex;
}

.subscribe__field {
  min-width: 452px;
  min-height: 52px;
  padding: 14px 20px;
  padding-top: 18px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  border: none;
  background-color: var(--color-gray);
  border-radius: var(--border-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: transparent;
}

.subscribe__field::placeholder {
  font-size: 18px;
  line-height: 24px;
}

/* Стилизация кнопки подписки*/
.button_subscribe {
  width: 232px;
  min-height: 52px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button_subscribe:hover,
.button_subscribe:focus {
  background-color: var(--color-secondary-hover);
}

@supports selector(:focus-visible) {

  .button_subscribe:focus {
    outline: transparent;
  }

  .button_subscribe:focus-visible {
    background-color: var(--color-secondary-hover);
  }
}

.button_subscribe:active {
  color: var(--color-light-gray);
}

.button_subscribe:disabled,
.button_subscribe:disabled:hover {
  background-color: var(--color-elements);
  user-select: none;
  pointer-events: none;
}

/* Стилизация каталога */
.inner-container__filters-group {
  display: flex;
  flex-wrap: wrap;
  padding: 35px 70px 58px 70px;
  color: var(--color-light);
  background-color: var(--color-gray-secondary);
  background-image:url("../images/main-inner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.filters-group__title {
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
}

.filters-group__wrapper {
  margin-bottom: 40px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 10px;
}

.breadcrumbs__link {
  font-family: var(--font-family);
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color:var(--color-light);
}

.breadcrumbs__link_title:hover {
  opacity: 60%;
}
.breadcrumbs__link_title:focus {
  outline: transparent;
}

.breadcrumbs__link_title:active {
  opacity: 30%;
}

/* Убираем стилизацию стрелочками для типа number*/
input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

/* Стилизация форм(чекбокс, переключатель, ползунки) */
.filter {
  width: 1060px;
  display:flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.filter__group,
.filter-price,
.filter-button {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.filter__group {
  margin-right: 71px;
}

.filter__group_type {
  margin-right: 151px;
}

.filter__group_price {
  margin-right: 69px;
}

.filter__title {
  margin-bottom: 32px;
  padding: 0;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize;
}

.filter__item {
  max-width: 149px;
  margin-bottom: 15px;
  text-align: left;
}

.filter__item:last-child {
  margin-bottom: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
}

.control__mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
}

.control__label {
  font-family: var(--font-family);
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.control__input:hover + .control__mark,
.control__input:hover ~ .control__label {
  opacity: 60%;
}

.control__input:active + .control__mark,
.control__input:active ~ .control__label {
  opacity: 30%;
}

.control__input:focus + .control__mark {
  outline: 3px solid var(--color-secondary);
}

.control__input[type="checkbox"]:checked + .control__mark::before {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 12px;
  height: 10px;
  background-image: url("../images/icons/checked.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}

.control__input[type="radio"] + .control__mark {
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: var(--color-inputs);
  border-radius: 50%;
  content: "";
}

.filter__price-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
  margin-bottom: 44px;
}

.price-wrapper__label {
  position: relative;
  width: 143px;
  height: 48px;
}

.price-wrapper__input {
  width: 143px;
  height: 48px;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-dark-primary);
  background-color: var(--color-gray);
  border: 0;
}

.price-wrapper__input::placeholder {
  font-family: var(--font-family);
  font-style: normal;
  color: var(--color-dark-primary);
  font-weight: 700;
}

.price-wrapper__input_left {
  padding: 12px 41px 12px 20px;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.price-wrapper__input_left:focus {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  outline: 3px solid var(--color-secondary);
}

@supports selector(:focus-visible) {

  .price-wrapper__input_left:focus {
    outline: transparent;
  }

  .price-wrapper__input_left:focus-visible {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    outline: 3px solid var(--color-secondary);
  }
}

.price-wrapper__input_right {
  margin-left: 2px;
  padding: 12px 51px 12px 20px;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.price-wrapper__input_right:focus {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  outline: 3px solid var(--color-secondary);
}

@supports selector(:focus-visible) {

  .price-wrapper__input_right:focus {
    outline: transparent;
  }

  .price-wrapper__input_right:focus-visible {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    outline: 3px solid var(--color-secondary);
  }
}

.price-wrapper__description{
  position: absolute;
  top: 30%;
  right: 13%;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  color: var(--color-gray-secondary);
}

/* Слайдер цены*/
.range {
  position: relative;
  left: 1px;
  width: 287px;
  height: 4px;
  background-color: var(--color-dark-gray);
}

.range__bar {
  position: absolute;
  left: 2px;
  width: 223px;
  height: 4px;
  background-color: var(--color-light);
}

.range__toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--color-light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range__toggle:hover {
  border: none;
}

.range__toggle:focus {
  border: none;
  outline: 3px solid var(--color-secondary);
}

.range__toggle:active {
  border: none;
  outline: 2px solid var(--color-secondary);
}

.range__toggle_min {
  top: -8px;
  left: -2px;
}

.range__toggle_max {
  top: -8px;
  right: -1px;
}
/* Стилизация кнопок в блоке фильтры*/
.filter__buttons-wrapper {
  position: relative;
  left: 1px;
  display: inline-block;
  padding-top: 56px;;
}

.button_apply {
  width: 191px;
  min-height: 36px;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.button_apply:hover,
.button_apply:focus {
  background-color: var(--color-secondary-hover);
}

@supports selector(:focus-visible) {

  .button_apply:focus {
    outline: transparent;
  }

  .button_apply:focus-visible {
    background-color: var(--color-secondary-hover);
  }
}

.button_apply:active {
  color: var(--color-light-gray);
}

.button_apply:disabled,
.button_apply:disabled:hover {
  background-color: var(--color-elements);
  user-select: none;
  pointer-events: none;
}

.button_cancel {
  width: 191px;
  min-height: 36px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--color-light);
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.button_cancel:hover {
  opacity: 60%;
}

.button_cancel:focus {
  border-radius: var(--border-radius);
  outline: 3px solid var(--color-secondary);
}

@supports selector(:focus-visible) {

  .button_cancel:focus {
    outline: transparent;
  }

  .button_cancel:focus-visible {
    border-radius: var(--border-radius);
    outline: 3px solid var(--color-secondary);
  }
}

.button_cancel:active {
  opacity: 60%;
}

.button_cancel:disabled,
.button_cancel:disabled:hover {
  opacity: 10%;
  user-select: none;
  pointer-events: none;
}

.catalog {
  margin: 0;
  padding: 50px 70px 60px 70px;
}

.catalog__display {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.display__title {
  margin-right: 201px;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-dark-primary);
  text-transform: uppercase;
}

.display__select-filter {
  width: 292px;
  max-height: 49px;
  padding: 12px 18px;
  margin-left: auto;
  margin-right: 69px;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: var(--color-dark-primary);
  background-color: var(--color-light);
  border: 2px solid var(--color-elements);
  border-radius: var(--border-radius);
  background-image: url("../images/icons/arrow.svg");
  background-position: right 18px center;
  background-size: 12px 9px;
  background-repeat: no-repeat;
  appearance: none;
}

.display__select-filter:hover,
.display__select-filter:focus {
  outline: 2px solid var(--color-secondary-hover);
  outline-offset: -2px;
}

.display__select-filter:disabled {
  opacity: 30%;
  user-select: none;
  pointer-events: none;
}

.display__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-top: -1px;
}

.display___item:not(:last-child) {
  margin-right: 8px;
}

.button_display {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 17px 16px;
  border: 2px solid var(--color-elements);
  border-radius: var(--border-radius);
  background-position: center;
  background-repeat: no-repeat;
}

.button_display:hover,
.button_display:hover:active {
  outline: 2px solid var(--color-dark-primary);
  outline-offset: -2px;
}

.button_display:focus {
  outline: 2px solid var(--color-secondary-hover);
  outline-offset: -2px;
}

@supports selector(:focus-visible) {

  .button_display:focus {
    outline: transparent;
  }

  .button_display:focus-visible {
    outline: 2px solid var(--color-secondary-hover);
    outline-offset: -2px;
  }
}

.button_display_selected {
  border: 2px solid var(--color-dark-primary);
}

.button_tile {
  background-image: url("../images/icons/tile.svg");
}

.button_fullsize {
  background-image: url("../images/icons/fullsize.svg");
}

.button_list {
  background-image: url("../images/icons/list.svg");
}

/* Стилизация карточек каталога*/
.products {
  margin-bottom: 40px;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
}

.products__card {
  display: flex;
  flex-direction: column;
  min-height: 438px;
  padding: 20px;
  box-shadow: 0 0 0 1px var(--color-box-border);
  border-radius: var(--border-radius);
}

.card_hotel-wrapper,
.card_button-wrapper,
.card__stars-ration {
  display: flex;
  width: 100%;
}

.card_hotel-wrapper,
.card_button-wrapper {
   margin-bottom: 16px;
}

.card__link_photo {
  margin-bottom: 12px;
}

.card__link_title {
  margin-bottom: auto;
}

.card__title{
  font-family: var(--font-family);
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
}

.card__hotel {
  margin-right: auto;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
}

.card__price {
  margin-left: auto;
  flex-shrink: 0;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
}

/* Кнопка подробнее*/
.button_detailed {
  max-width: 140px;
  padding: 8px 27px;
  margin-right: auto;
}

.button_detailed:hover,
.button_detailed:focus {
  background-color: var(--color-primary-hover);
}

@supports selector(:focus-visible) {

  .button_detailed:focus {
    outline: transparent;
  }

  .button_detailed:focus-visible {
    background-color: var(--color-primary-hover);
  }
}

.button_detailed:active {
  color: var(--color-light-gray);
}

.button_detailed:disabled,
.button_detailed:disabled:hover {
  background-color: var(--color-elements);
  user-select: none;
  pointer-events: none;
}

/* Кнопка избранное*/
.button_favourit {
  max-width: 140px;
  margin-left: auto;
  padding: 8px 20px;
  background-color: var(--color-secondary);
}

.button_favourit:hover,
.button_favourit:focus {
  background-color: var(--color-secondary-hover);
}

@supports selector(:focus-visible) {

  .button_favourit:focus {
    outline: transparent;
  }

  .button_favourit:focus-visible {
    background-color: var(--color-secondary-hover);
  }
}

.button_favourit:active {
  color: var(--color-light-gray);
}

.button_favourit:disabled,
.button_favourit:hover:disabled {
  background-color: var(--color-elements);
  user-select: none;
  pointer-events: none;
}

/* Кнопка избранное - выбранна*/
.button_favourit_selected {
  min-width: 140px;
  padding: 8px 18px;
  background-color: var(--color-selected);
}

.button_favourit_selected:hover,
.button_favourit_selected:focus {
  background-color: var(--color-selected-hover);
}

@supports selector(:focus-visible) {

  .button_favourit_selected:focus {
    outline: transparent;
  }

  .button_favourit_selected:focus-visible {
    background-color: var(--color-selected-hover);
  }
}

.button_favourit_selected:active {
  color: var(--color-light-gray);
}

.button_favourit_selected:disabled,
.button_favourit_selected:hover:disabled {
  background-color: var(--color-elements);
  user-select: none;
  pointer-events: none;
}

.stars {
  grid-area: "Stars";
  display: block;
  width: 140px;
  min-height: 37px;
  background-image: url("../images/icons/stars.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.stars_five-star {
  width: 130px;
}

.stars_four-star {
  width: 90px;
}

.stars_three-star {
  width: 70px;
}

.stars_two-star {
  width: 45px;
}

.stars_one-star {
  width: 20px;
}

.card__ratio {
  grid-area: "Ratio";
  width: 140px;
  min-height: 37px;
  margin-left: auto;
  padding: 9px 22px 8px 23px;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--color-gray);
  border-radius: var(--border-radius);
}

/* Стилизация пагинации*/
.pagination__split-line{
  margin-bottom: 39px;
  border:none;
  border-bottom: 1px solid var(--color-box-border);
}


.pagination__list {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, 60px);
  column-gap: 8px;
}

.pagination__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  padding: 12px 24px;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-light);
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
}

.pagination__link_current {
  background-color: var(--color-gray);
  color: var(--color-dark-primary);
}

.pagination__link_more {
  background-color: transparent;
  color: var(--color-dark-primary);
}

.pagination__link:hover,
.pagination__link:focus {
  background-color: var(--color-secondary-hover);
  border-radius: var(--border-radius);
  outline: 1px solid var(--color-secondary);
  outline-offset: -1px;
}

.pagination__link:active {
  color: var(--color-light-gray);
}

.pagination__link_current:hover,
.pagination__link_current:focus,
.pagination__link_current:active {
  background-color: var(--color-gray);
  color: var(--color-dark-primary);
  outline: transparent;
}

.pagination__link_more:hover,
.pagination__link_more:focus,
.pagination__link_more:active {
  background-color: transparent;
  color: var(--color-dark-primary);
  outline: transparent;
}
.subscribe_catalog {
  background-color: transparent;
  background-image: none;
}

.subscribe__title_catalog{
  color: var(--color-dark-primary);
}
.subscribe__title_description {
  color: var(--color-dark-secondary);
}

/* Стилизация футера */
.page-footer {
  padding: 40px 70px 30px 70px;
}

.contacts {
  display: flex;
  align-items: center;
  min-width: 1060px;
  min-height: 50px;
  gap: 41px;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 200px;
}

.contacts__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 47px;
}

/* Соц. сети в футере */
.contacts__link {
  padding: 13px;
}

.contacts__link:focus {
  outline: transparent;
}

.contacts__icon_yt,
.contacts__icon_tg {
  margin-top: 3px;
}

.contacts__link .contacts__icon {
  fill: var(--color-secondary);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--color-secondary-hover);
}

@supports selector(:focus-visible) {

  .contacts__link:focus .contacts__icon {
    outline: transparent;
  }

  .contacts__link:focus-visible .contacts__icon {
    fill: var(--color-secondary-hover);
  }
}

.contacts__link:active .contacts__icon {
  fill: var(--color-secondary-active);
}

/* Телефон в футере */
.contacts__phone {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 720px;
  margin-left: 2px;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 40px;
  line-height: 41px;
  font-weight: 400;
  color: var(--color-dark-primary);
  text-decoration: none;
}

.contacts__phone:hover,
.contacts__phone:focus {
  color: var(--color-primary);
}

@supports selector(:focus-visible) {

  .contacts__phone:focus {
    outline: transparent;
  }

  .contacts__phone:focus-visible {
    color: var(--color-primary);
  }
}

.contacts__phone:active {
  color: var(--color-primary-active);
}

/* Лого академии в футере */
.contacts__author-logo {
  margin-left: auto;
  margin-top: 3px;
  }

.contacts__author-logo:active {
  color: var(--color-primary-active);
}

.contacts__author-logo:focus {
  outline: transparent;
}

.contacts__author-logo svg {
  fill: var(--color-dark-primary);
}

.contacts__author-logo:hover svg,
.contacts__author-logo:focus svg {
  fill: var(--color-primary);
}

@supports selector(:focus-visible) {

  .contacts__author-logo:focus svg {
    outline: transparent;
  }

  .contacts__author-logo:focus-visible svg {
    fill: var(--color-primary);
  }
}

/* Стилизация модального окна*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: var(--color-modal-block);
}

.modal {
  position: relative;
  width: 717px;
  margin: auto;
  padding: 64px 70px 64px;
  background-color: var(--color-light);
  border-radius: 30px;
  box-shadow: 0 25px 50px  var(--color-shadow-modal);
}

/* Стилизация кнопки закрытия */
.button__close {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: var(--color-gray);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.button__close:hover {
  background-color: var(--color-box-border);
}

.button__close:focus {
  outline: 3px solid var(--color-secondary);
  background-color: var(--color-box-border);
}

.button__close:active svg {
  opacity: 30%;
  background-color: var(--color-box-border);
}

.modal__title {
  margin-bottom: 64px;
  padding-right: 40px;
  text-align: left;
}

.date-group__fields {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.date-group__fields::after {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 60px;
  height: 48px;
  background-image: url("../images/icons/calendar.svg");
  background-position: center;
  background-size: 16px 17px;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 30%;
  content:"";
}

.date-group__label,
.age-group__fields::placeholder,
.age-group__fields,
.age-group__label {
  font-family: var(--font-family);
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-dark-primary);
}

.date-group__input {
  width: 440px;
  min-height: 48px;
  margin-left: auto;
  padding-left: 20px;
  padding-top: 4px;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: var(--color-gray);
  border: none;
  border-radius: var(--border-radius);
}
.date-group__input:hover {
  background-color: var(--color-box-border);
}

.date-group__input:focus{
  outline: 3px solid var(--color-secondary);
}

.date-group__input::placeholder {
  font-family: var(--font-family);
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-dark-primary) ;
  opacity: 60%;
}

.date-group__message {
  width: max-content;
  max-width: 440px;
  margin: 0 24%;
  margin-bottom: 23px;
  padding: 0 20px 0 19px;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.date-group__message_error {
  color: var(--color-error);
}

/* Убираем стандартную иконку календаря*/
input[type=date]::-webkit-calendar-picker-indicator {
  z-index: 1;
  min-width: 60px;
  min-height: 44px;
  cursor: pointer;
  opacity: 0;
}


.search-form__age-group {
  display: flex;
  flex-wrap: wrap;
}

.age-group__adult {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
  padding-bottom: 1px;
}

.age-group__label_adult {
  margin-right: 46px;
}

.age-group__wrapper {
  position: relative;
  min-height: 48px;
}

.age-group__fields {
  display: flex;
  width: 110px;
  min-height: 48px;
  padding: 0 45px;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: var(--color-gray);
  border: none;
  border-radius: var(--border-radius);
}

.age-group__child {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 1px;
}

.age-group__label_child {
  margin-right: 11px;
}

.age-group__info {
  position: relative;
  display: inline-block;
  width: 26px;
  min-height: 26px;
  margin-right: 47px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  background-image: url("../images/icons/info.svg");
  background-position: center;
  background-size: 2px 12px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.age-group__info:focus {
  outline: transparent;
}

.age-group__tooltip {
  position: absolute;
  top: 41px;
  left: -115px;
  z-index: 1;
  display: none;
  width: 256px;
  min-height: 143px;
  padding: 20px 18px 18px 22px;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  color: var(--color-light);
  background-color: var(--color-dark-secondary);
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 var(--color-dark-translusent);

}

.age-group__tooltip::before {
  position: absolute;
  top:-29px;
  left: 108px;
  display: block;
  border: 20px solid transparent;
  border-bottom: 19px solid var(--color-dark-secondary);
  content: "";
}

.age-group__info:hover .age-group__tooltip,
.age-group__info:focus .age-group__tooltip {
  display: flex;
}

.age-group__sign {
  position: absolute;
  top: 0;
  width: 40px;
  height: 48px;
  padding: 14px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}

.age-group__plus {
  right: 0;
}
.age-group__minus {
  left: 0;
}

.age-group__plus svg,
.age-group__minus svg{
  fill: var(--color-primary-active);
  outline: transparent;
}

.age-group__plus:hover svg,
.age-group__minus:hover svg{
  fill: var(--color-dark-primary);
  outline: transparent;
}

.age-group__plus:focus,
.age-group__minus:focus{
  outline: transparent;
}

.age-group__plus:focus svg,
.age-group__minus:focus svg{
  border-radius: 3px;
  outline: 3px solid #82B3D3;
  fill: var(--color-primary-active);
}

.age-group__plus:active svg,
.age-group__minus:active svg{
  fill: var(--color-primary-active);
  outline: transparent;
}
/* Стилизация кнопки поиска отеля*/
.button_find-hotel {
  width: 100%;
  min-height: 60px;
  margin-top: 47px;
  padding: 0;
  background-color: var(--color-secondary);
  border-radius: 10px;
}

.button_find-hotel:hover,
.button_find-hotel:focus {
  background-color: var(--color-secondary-hover);
}

@supports selector(:focus-visible) {

  .button_find-hotel:focus {
    outline: transparent;
  }

  .button_find-hotel:focus-visible {
    background-color: var(--color-secondary-hover);
  }
}

.button_find-hotel:active {
  color: var(--color-light-gray);
}

.button_find-hotel:disabled,
.button_find-hotel:hover:disabled {
  background-color: var(--color-elements);
  pointer-events: none;
  user-select: none;
}

/* Стилизация страницы ошибки 404*/
.error-description {
  padding: 20px;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 36px;
  line-height: 72px;
  font-weight: 400;
  color: var(--color-dark-primary);
}
.error-image-wrapper {
  max-width: 500px;
  max-height: 500px;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 50px;
}

.button_main {
  width: 400px;
  min-height: 60px;
  margin: auto;
  margin-top: 47px;
  padding: 0;
  color: var(--color-secondary);
  background-color: transparent;
  border: 3px solid var(--color-secondary);
  border-radius: 10px;
}

.button_main:hover,
.button_main:focus {
  color: var(--color-light);
  background-color: var(--color-secondary-hover);
  border: none;
}

@supports selector(:focus-visible) {

  .button_main:focus {
    outline: transparent;
  }

  .button_main:focus-visible {
    background-color: var(--color-secondary-hover);
  }
}

.button_main:active {
  color: var(--color-light-gray);
}

.button_main:disabled,
.button_main:hover:disabled {
  background-color: var(--color-elements);
  pointer-events: none;
  user-select: none;
}

/* Паттерн скрытых элементов */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
